* { margin:0; padding:0; box-sizing: border-box; }
body {
  font-family: "맑은 고딕", sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.6;
}
li {list-style: none;}
a { text-decoration: none; color: inherit;}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;}
#wrap {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    #header {
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
        ul{
            display: flex;
            align-items: center;
        }
        li{
            padding: 0 20px;
        }
    }
    #contents {
        padding-top: 20px;
        h2 {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            border-bottom: 1px solid  #333;
        }
        #mainContents{ 
            ul {
                display: flex;
                justify-content: space-between;
                padding-top: 20px;
                li{
                    border:  1px solid #ccc;
                    text-align: center;
                    padding: 60px 110px;
                    h3{
                        font-size: 18px;
                        font-weight: bold;
                    }
                    span{
                        display: block;
                    }

                }
            }
        }
        #mainNotice {
            margin-top: 50px;
            ul {
                padding-top: 60px;
                li {
                    font-size: 16px;
                    padding: 5px 15px;
                    border-bottom: #ccc 1px solid;
                }
            }
        }
    
    }
    #footer {
        margin: 20px;
        display: flex;
        justify-content: space-between;
    }
}
